DB_NAME=transport_reliability
DB_USER=postgres
DB_PASSWORD=your_password_here
DB_HOST=localhost
DB_PORT=5432

TFI_API_KEY=your_tfi_api_key_here
TFI_GTFSR_URL=https://api.nationaltransport.ie/gtfsr/v2/gtfsr
TFI_TRIP_UPDATES_URL=https://api.nationaltransport.ie/gtfsr/v2/TripUpdates
TFI_VEHICLES_URL=https://api.nationaltransport.ie/gtfsr/v2/Vehicles
